*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'PT Sans', sans-serif;
    background-color: #000;   
    background-size: cover;
    background-position: center;
}
header{
	width: 100%;
	height: 100vh;
	background-image: url("fondo.jpg");
	background-size: cover;
	background-position: center;
	
}
.nav { 
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px;
	transition: all 0.5s ease;
}
.nav.active{
	background: #fff;
	padding: 15px;
}
.nav.active .logo,
.nav.active a{
	color: #000;
}
.nav.active a:hover{
	background: #000;
	color: #fff;
}
.logo{
	font-size: 35px;
	color: #fff;
	font-weight: 100;
}
.menu{
	display: flex;
}
.menu li{
	list-style: none;
	margin: 10px;
}
.menu li a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.5s ease;
}
.menu li a:hover{
	padding: 5px 10px;
	background: #fff;
	color: #000;
	border-radius: 15px;
	
}

.scrol{
	height: 100px;
	min-height: 23vh;
}

.fuente{
	font-family: 'PT Sans', sans-serif;
}

.inicio{
	float:right; 
	width: 250px;
	height: auto;
}

.content{
	width: 100%;
	height: auto;
	background-image: url("sobremi.jpg");
	color: rgb(158, 158, 158);
	background-size: cover;
	background-position: center;
	min-height: 64vh;
}

.exp{
	width: 100%;
	height: auto;
	background-image: url("exppro.jpg");
	color:rgb(202, 202, 202);
	background-size:cover;
	background-position: center;
	min-height: 65vh;
}

.centrar{
	width: 400px;
	height: auto;
	text-align: center;
    font-size: larger;
}

.texto{
	width: 400px;
	height: auto;
	text-align: center;
	font-size: larger;
	float: right;
}

.habil{
	width: 100%;
	height: auto;
	background-image: url("habilidades.jpg");
	color:rgb(202, 202, 202);
	background-size:cover;
	background-position: center;
	min-height: 57.3vh;
}

.edit{
	width: 400px;
	height: auto;
	text-align: center;
	font-size: larger;
}

.first{
	width: 400px;
	height: auto;
	text-align: center;
	font-size: larger;
	float: right;
}

.know{
	width: 100%;
	height: auto;
	background-image: url("escolaridad.jpg");
	color:rgb(158, 158, 158);
	background-size:cover;
	background-position: center;
	min-height: 64.7vh;
}

.goals{
	background-color: honeydew;
}

.second{
	width: 400px;
	height: auto;
	text-align: center;
}

.data{
	background-color: yellow;
}

.third{
	width: 400px;
	height: auto;
	text-align: center;
}

.piepagina{
	width: 100%;
	background-color: #1a242c;
}

.piepagina .grupo1{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 50px;
	padding: 45px 0px;	
}

.piepagina .grupo1 .box h2{
	color: #fff;
	margin-bottom: 25px;
	font-size: 20px;
}

.piepagina .grupo1 .redsocial a{
	 display: inline-block;
	 text-decoration: none;
	 width: 45px;
	 height: 45px;
	 line-height: 45px;
	 color: #fff;
	 margin-right: 10px;
	 background-color: #1a293a;
	 text-align: center;
	 transition: all 300ms ease;

}

.piepagina .grupo1 .redsocial a:hover{
	color: aquamarine;
}

.piepagina .grupo2{
	background-color: #0a1a2a;
	padding: 15px 10px;
	text-align: center;
	color: #fff;
}

@media screen and (max-width:800px){
	.piepagina .grupo1{
		width: 90%;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
		padding: 35px 0px;	
	}
}